<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>"/>
<label for="resp" class="rem">Respuesta:</label>
<<<<<<< HEAD
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"/>
=======
<input type="text" id="resp" class="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"/>
>>>>>>> 324cb5fd95d24d6cc057048e02db4043d722ed7e
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar"/>